/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";

@font-face {
    font-family: 'LicensePlate';
    src: url('./assets/fonts/LicensePlate.ttf');
}

body {
    background-color: #17212F;
}